.body {
  background-color: black;
  margin: 0;
}

.text {
  background-color: #ddd;
}

.inner_wrapper {
  background-color: #ffa500;
}

.outer_wrapper {
  background-color: #308dc0;
  margin: 20px 20px 40px;
  box-sizing: border-box;
  width: 350px;
}

.wrappers {
  padding: 10px;
  border: solid 1px #e75551;
}
